body {
  height: 5000px;
  padding: 0;
  margin: 0;
}

.clearfix {
  clear: both;
}

.slider {
  background-image: url("../imgs/traka.jpg");
  background-size: 100% 100%;
  height: 700px;
}

.slider .intro {
  padding-top: 200px;
  height: 600px;
  text-align: center;
  color: #fff;
}

.slider .intro h2 {
  margin: 0 auto;
  font-size: 50px;
  width: 500px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
}

.slider .intro button {
  background: color;
  margin-top: 50px;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 30px;
}
/* @media (max-width:800px) {
  .slider{
    width: 100%;
  }
  .navbar{
    display: none;
  }
} */

.navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
}

.navbar h2 span {
  color: #2ecc71;
  text-transform: uppercase;
}
.navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.navbar ul li {
  padding: 5px;
  float: left;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li.active a,
.navbar ul li a:hover {
  color: #30b576;
}

.features {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 50px;
}

.features .feat {
  height: 150px;
  text-align: center;
}

.features .feat h2 {
  text-transform: uppercase;
  color: #555;
}

.features .feat p {
  line-height: 1.7;
  color: #888;
  padding: 0 20px 0 0;
}

.About-Me {
  background-color: #f2f2f2;
}

.About-Me .image {
  height: 600px;
  display: flex;
  align-items: center;
}

.About-Me .image img {
  width: 100%;
  height: 80%;
}
.About-Me .info h2 {
  margin: 40px 0 20px 40px;
  color: #555;
}
.About-Me .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.About-Me .info > p {
  margin: 0 0 10px 40px;
}

.About-Me .info > p:last-of-type {
  margin-top: 30px;
}

.About-Me .info p {
  line-height: 1.7;
  color: #555;
}

.About-Me .info .hobbies {
  overflow: hidden;
  margin: 20px 0 0 40px;
}

.About-Me .info h3 {
  color: #555;
}

.my-skills {
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.my-skills .skills h2 {
  margin: 40px 0 50px 40px;
  color: #555;
}

.my-skills .skills > p {
  margin: 0 0 10px 40px;
  line-height: 1.7;
  color: #555;
}

.my-skills .skills > p:last-of-type {
  margin-top: 30px;
}

.my-skills .skills button {
  margin: 20px 0 30px 40px;
}

.my-skills .the-progress .technic {
  margin-left: 50px;
}

.my-skills .the-progress .technic h3 {
  color: #555;
  font-size: medium;
}

.my-skills .the-progress .technic div {
  background-color: #f2f2f2;
  height: 25px;
}

.my-skills .the-progress .technic div span {
  background-color: #2dcc70;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: right;
  color: #333;
  font-weight: bold;
  opacity: 0;
  transition: 1s width ;
}

.resume {
  background-color: #f2f2f2;
  padding: 30px 0 30px 0;
  text-align: center;
}

.resume h2 {
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
}

.resume p {
  line-height: 1.7;
  color: #555;
  padding: 0 40px;
}

.resume button {
  margin-top: 20px;
}

.my-education {
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.my-education .main h2 {
  margin: 40px 0 20px 40px;
  color: #555;
}

.my-education .main > p {
  margin: 0 0 10px 40px;
  line-height: 1.7;
  color: #555;
}

.my-education .main > p:last-of-type {
  margin-top: 30px;
}

.my-education .exp {
  text-align: center;
}

.my-education .exp h3 {
  margin-top: 90px;
  margin-bottom: 10px;
}

.my-education .exp span {
  display: block;
  margin-bottom: 10px;
}

.my-education .exp span:first-of-type {
  color: #999;
}

.my-education .exp span:last-of-type {
  background-color: #2dcc70;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
}

.my-education .exp hr {
  margin: 20px 0;
  background-color: #999;
  height: 1px;
  border: 0;
}

.my-education .exp p {
  line-height: 1.7;
  color: #777;
}

.testimonials {
  background-color: #f2f2f2;
  padding: 50px 0 70px 0;
  text-align: center;
}

.testimonials q {
  line-height: 1.8;
  color: #888;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.testimonials h3 {
  color: #333;
}
ul.navigator{
  list-style: none;
  text-align: right;
  padding: 10px;
  padding-bottom: 0;
  font-weight: 600;
  background-color: #252f31;
  display: none;
  position: sticky;
  top:60px;
  width:100%;
}
ul.navigator li{
  margin-bottom: 5px;
}
ul.navigator li a{
  text-decoration: none;
  color:#fff;
}
.testimonials ul {
  list-style: none;
  margin-left: 0;
  text-align: center;
}

.testimonials ul li {
  width: 20px;
  height: 20px;
  border: 2px solid #2dcc70;
  display: inline-block;
  cursor: pointer;
}

.testimonials ul li.active,
.testimonials ul li:hover {
  background-color: #2dcc70;
}

.contact {
  background-color: #252f31;
  overflow: hidden;
  padding: 40px 0 50px 0;
}

.contact h2 {
  color: #fff;
  margin-left: 40px;
}

.contact p {
  color: #6a6e71;
  margin-left: 40px;
  line-height: 1.7;
}

.contact p strong {
  color: #d1d6da;
}
.contact .form {
  text-align: center;
}
.contact .form label {
  color: #d1d6da;
  margin: 10px 0;
  width: 80%;
  text-align: left;
}

.contact .form input[type="text"],
.contact .form textarea {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  width: 80%;
  border: 0;
  margin-bottom: 10px;
}

.contact .form textarea {
  margin-bottom: 10px;
  height: 300px;
}

.contact .form button {
  display: inline-block;
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}

.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px;
  text-align: center;
}

.my-button {
  padding: 10px 30px;
  border: 3px solid #2dcc70;
  color: #2dcc70;
  background: none;
  font-weight: bold;
}
.toggler {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1000px) {
  .navbar .links{
    display: none;
  }
  .toggler {
    display: block;
  }
  .navbar ul li{
    float: none;
    text-align: right;
  }
  .navbar .icon {
    display: block;
    background-color: #fff;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
  }
}
